In [2]:
#Addition
1+2

3

In [3]:
#Sub
1-2

-1

In [5]:
#multi
2*3

6

In [9]:
#Divsion
7/2

3.5

In [8]:
#Floor Divison
7//2

3

In [13]:
#Modulo
5%2

1

Let us now jump into variables

In [16]:
a = 10

In [17]:
a

10

In [18]:
a + 10

20

In [21]:
a = a + 10

In [22]:
a

40

In [23]:
a = 10 + (20 * 5) /5

In [25]:
a

30.0

Creating Strings

In [27]:
s1 = "This is a string"
s1

'This is a string'

In [28]:
s2 = 'This is a string'
s2

'This is a string'

In [29]:
print(s1)

This is a string

In [31]:
type(s1)

str

In [34]:
s = "I'm a kind person"

In [44]:
s="Welcome to the basics section"

In [38]:
len(s)

17

In [39]:
s[0]

'I'

In [42]:
s[:]

"I'm a kind person"

In [54]:
s[::-1]

'noitces scisab eht ot emocleW'

In [65]:
s = "Hello"

In [63]:
s1  = s[0:3]+"l"+s[4:]

In [71]:
s1.lower()

'hello'

String formatting

In [78]:
print("I am going to inject %s here  %s here "%('something','and '))

I am going to inject something here  and  here

In [84]:
print("Getting hike with %d"%3.75)

Getting hike with 3

In [90]:
print('Floating point numbers: %2.2f' %(1234.1342))

Floating point numbers: 1234.13

In [93]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [96]:
print('The {2} {1} {0}'.format('three','one','two'))

The two one three

In [106]:
a="oops"

print("{a},{a},{a}".format(a="hi"))
print("%s,%s,%s"%('hi','hi','hi'))
#print("%s%s%s"%'hi')

hi,hi,hi
hi,hi,hi

In [118]:
a="Anil,Mandapati"

In [122]:
x=a.split(',')
type(x)

list

In [124]:
x1=",".join(x)
type(x1)

str